@page "/"
@using System;
@using RestSharp;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using System.Text;
@inject IConfiguration Configuration
@inject NavigationManager Navigation
<h3>Weather Report Request</h3>
<EditForm Model="@weatherRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Address:</label>
        <InputText @bind-Value="weatherRequest.Address" />
    </div>
    <div>
        <label>PostCode:</label>
        <InputText @bind-Value="weatherRequest.PostCode" />
    </div>
    <div>
        <label>City:</label>
        <InputText @bind-Value="weatherRequest.City" />
    </div>
    <div>
        <label>State:</label>
        <InputText @bind-Value="weatherRequest.State" />
    </div>
    <div>
        <label>Email:</label>
        <InputText @bind-Value="weatherRequest.Email" />
    </div>
    <div>
        <label>Business:</label>
        <InputText @bind-Value="weatherRequest.Business" />
    </div>
    <div>
        <label>Name:</label>
        <InputText @bind-Value="weatherRequest.Name" />
    </div>
    <div>
        <label>Weekly:</label>
        <InputCheckbox @bind-Value="weatherRequest.Weekly" />
    </div>
    <div>
        <label>Genuine:</label>
        <InputCheckbox @bind-Value="weatherRequest.Genuine" />
    </div>

    <button type="submit">Submit</button>
</EditForm>
<p>@myText</p>
@code {

    string berarertoken;
    private WeatherReportRequest weatherRequest = new WeatherReportRequest("", "", "", "", "", "", "", false, false);
    private string myText = "Not yet submitted";
    private void HandleValidSubmit()
    {
        myText = "submitted";
        start(weatherRequest);
    }

    const string ORCHESTRATOR_URL = "https://cloud.uipath.com/rosscowie/DefaultTenant/orchestrator_";
    public void start(WeatherReportRequest wrr)
    {

        berarertoken = Configuration["BEARER_TOKEN"];

        startJob(berarertoken, wrr);
    }
    public class WeatherReportRequest
    {
        public WeatherReportRequest(string address, string postcode, string city, string state, string email, string business, string name, bool weekly, bool genuine)
        {
            Weekly = weekly;
            Genuine = genuine;
            Address = address;
            PostCode = postcode;
            City = city;
            State = state;
            Email = email;
            Name = name;
            Business = business;
        }

        public bool Weekly, Genuine;
        public string Address;
        public string PostCode;
        public string City;
        public string State;
        public string Email;
        public string Business;
        public string Name;
    }

    private async Task startJob(string bearerToken, WeatherReportRequest report)
    {
        myText = "Sending";
        try
        {
            var client = new RestClient();
            var request = new RestRequest("https://cloud.uipath.com/rosscowie/DefaultTenant/orchestrator_/t/1efae47c-61bf-4e5d-be11-4ae15d440dc7/SendWeatherReport", Method.Post);
            request.AddHeader("Authorization", bearerToken);
            request.AddHeader("Content-Type", "application/json");

            var json = JsonConvert.SerializeObject(new
            {
                report.Weekly,
                Address1 = report.Address,
                Address2 = report.PostCode,
                Address3 = report.City,
                Address4 = report.State,
                report.Name,
                BuisnessName = report.Business,
                report.Email,
                report.Genuine
            });

            request.AddJsonBody(json);

            RestResponse response = await client.ExecuteAsync(request);

            // Check if the response was successful
            if (response.IsSuccessful)
            {
                myText = response.Content;
            }
            else
            {
                myText = $"Error: {response.StatusCode} - {response.StatusDescription}";
            }
        }
        catch (HttpRequestException e)
        {
            myText = $"Request error: {e.Message}";
        }
        catch (Exception e)
        {
            myText = $"Unexpected error: {e.Message}";
        }
    }

}
