@page "/"
@using APICall
@inject NavigationManager Navigation
<h3>Weather Report Request</h3>

<EditForm Model="@weatherRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Address:</label>
        <InputText @bind-Value="weatherRequest.Address" />
    </div>
    <div>
        <label>PostCode:</label>
        <InputText @bind-Value="weatherRequest.PostCode" />
    </div>
    <div>
        <label>City:</label>
        <InputText @bind-Value="weatherRequest.City" />
    </div>
    <div>
        <label>Country:</label>
        <InputText @bind-Value="weatherRequest.Country" />
    </div>
    <div>
        <label>Email:</label>
        <InputText @bind-Value="weatherRequest.Email" />
    </div>
    <div>
        <label>Business:</label>
        <InputText @bind-Value="weatherRequest.Business" />
    </div>
    <div>
        <label>Name:</label>
        <InputText @bind-Value="weatherRequest.Name" />
    </div>
    <div>
        <label>Weekly:</label>
        <InputCheckbox @bind-Value="weatherRequest.Weekly" />
    </div>
    <div>
        <label>Genuine:</label>
        <InputCheckbox @bind-Value="weatherRequest.Genuine" />
    </div>

    <button type="submit">Submit</button>
</EditForm>
<p>@myText</p>
@code {
    private APICall.WeatherReportRequest weatherRequest = new APICall.WeatherReportRequest("", "", "", "", "", "", "", false, false);
    private string myText = "Not yet submitted";
    private void HandleValidSubmit()
    {
        myText = "submitted";
        APICall.start(weatherRequest);
        myText = APICall.myText;
    }
}
